# Ignore all
*

# Unignore all with extensions
!*.c
!*.h
!*.md
!*.gitignore
!*.gitkeep
!*.pdf
!*.html
!*.xlsx
!*.png
!*.csv
!*.txt
!*/doc/*.dat


# Unignore all dirs
!*/

# Unignore makefiles
!*makefile

*.vscode/